<h3 class="mb-16">Bar chart with zoom option</h3>
<div echarts [options]="zoomBarOptions" style="height: 400px"></div>
<div class="m-24">
    <mat-divider></mat-divider>
</div>

<h3 class="mb-16">Bar chart with multiple series option</h3>
<div echarts [options]="multipleSeriesBasicOptions" style="height: 600px"></div>
<div class="m-24">
    <mat-divider></mat-divider>
</div>

<h3 class="mb-16">Cluster bar chart with rotation</h3>
<div echarts [options]="clusteredVBarOptions" style="height: 400px"></div>
<div class="m-24">
    <mat-divider></mat-divider>
</div>

<h3 class="mb-16">Middle bar chart</h3>
<div echarts [options]="middleBarOption" style="height: 400px"></div>