<mat-card class="mb-1" style="max-width: 650px;">
  <mat-card-content>
    <p class="text-16">Matx includes all the components from 
      <a class="text-primary" href="https://material.angular.io/" target="_blank">Angular material library</a>. 
      It has <code>SharedMaterialModule</code> which you can use in your 
      <code>module</code> to get access of Material components.
    </p>
    
    <a mat-flat-button color="primary" target="_blank" href="https://material.angular.io/components/categories" class="mr-2">Browse available Components</a>
  </mat-card-content>
</mat-card>