<h3 class="mb-16">Basic Pie Chart</h3>
<div echarts [options]="pieOptions" style="height: 400px"></div>
<div class="m-24"><mat-divider></mat-divider></div>

<h3 class="mb-16">Nightingale's Rose Diagram</h3>
<div echarts [options]="customPieOptions" style="height: 400px"></div>
<div class="m-24"><mat-divider></mat-divider></div>

<h3 class="mb-16">Doughnut Pie</h3>
<div echarts [options]="doughNutPieOptions" style="height: 400px"></div>
<div class="m-24"><mat-divider></mat-divider></div>

<h3 class="mb-16">Nested Pie</h3>
<div echarts [options]="nestedPieOptions" style="height: 400px"></div>